{%- assign button_layout = 'simple_button' -%}
{%- if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout != null  -%}
    {%- assign button_layout = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout -%}
{%- endif -%}
<a href="#" class="" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}" data-button-layout="{{ button_layout }}" style="">
    {% comment %}orginal code from plugin{% endcomment %}
    {% comment %}Removed the following classes because they were causing issues with plugin css:{% endcomment %}
    {% comment %}icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation{% endcomment %}
    {% comment %}
     <div class="hulk_wl_icon-text" hulk-wl-custom-style data-count="{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.public_wishlist_count }}">
         <div class="hulk_wl_icon">
             <i class="heart-hulk-animation"><i class="icon-wishlist-heart-empty"></i></i>
             <span>Add to wishlist</span>
         </div>
     </div>
     {% if button_layout == 'multi_color_button' and shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.button_style == 'style_2' or shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.button_style == 'style_4' %}
         <span class="count" hulk-wl-custom-style>0</span>
     {% else %}
         <span class="count" hulk-wl-custom-style>(0)</span>
     {% endif %}
 {% endcomment %}
    <div class="sm-row">
        <div class="icon-wrap" style="font-size: 23px; margin-top:-4px;">
            <i class="fa-light fa-clipboard-list"></i>
        </div>
        <div class="sm-row-text"><span>Add to Wishlist</span><br/><span class="sm-text">Log in and Save for Later</span></div>
    </div>
</a>
