
{% if product.metafields.plytix.package_products == blank %}
  {%
          render 'product-sxstatus'
  %}
{% endif %}


{% assign current_variant_id = product.selected_or_first_available_variant.id %}
{% for variant in product.variants %}
  <div class="masterqty-container var-specs var{{ variant.id }}" {% if current_variant_id != variant.id %}style="display:none;"{% endif %}>
    {% if variant.metafields.plytix.package_products != blank %}
      <div class="individually-sold">Sold as a Bundle</div>
    {% else %}
      {% if variant.metafields.plytix.master_quantity != blank %}
        {% assign qntyinfo = variant.metafields.plytix.master_quantity %}
        {% if qntyinfo == 1 or qntyinfo == '1' %}
          <div class="individually-sold">Sold Individually</div>
        {% else %}
          <div class="individually-sold">{{ variant.metafields.plytix.master_quantity }}</div>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endfor %}


{%
        render 'product-icons'
%}

{% if product.metafields.plytix.short_description  != blank %}
  <div class="quick-overview">
    <span class="sect-h">Quick Overview</span>
    {{ product.metafields.plytix.short_description }}
  </div>
{% endif %}