{% assign product = product %}
<div class="product-icons">
    <div class="ship-made">
        {% if product.metafields.plytix.made_in_USA %}
            <div class="sm-row"><div class="icon-wrap" style="font-size: 23px"><i class="fa-solid fa-flag-usa"></i></div> <span class="sm-row-text"><span>Made in USA</span> <span class="sm-text">Supporting American Workers</span></span></div>
        {% endif %}
        {% if product.metafields.plytix.free_shipping %}
            <div class="sm-row"><div class="icon-wrap" style="font-size: 18px;"><i class="fa-solid fa-truck-fast"></i></div> <span class="sm-row-text"><span>Free Shipping</span> <span class="sm-text">Anywhere in the Continental US</span></span></div>
        {% endif %}
        {% if product.metafields.plytix.eco_friendly %}
            <div class="sm-row">
                <div class="icon-wrap" style="font-size: 20px;"><i style="color: #019a00" class="fa-solid fa-recycle"></i></div>
                <span class="sm-row-text"><span>Environmentally Responsible</span>
              <span class="sm-text">Reduced Impact on the Environment</span></span>
            </div>
        {% endif %}
        {% if product.metafields.plytix.gold_medal_winner %}
            <div class="sm-row">
                <div class="icon-wrap">
                    <img width="20" height="25" src="https://files.plytix.com/api/v1.1/file/public_files/pim/assets/87/f0/a9/62/62a9f0875d155f1bc7e49b84/images/07/c2/52/63/6352c2072fc607028a3dd10b/gold-medal.png" alt="gold medal winner">
                </div>
                <span class="sm-row-text"><span>Gold Medal Winner</span>
              <span class="sm-text">It's that Awesome!</span></span>
            </div>
        {% endif %}
        {% assign pclearance = false %}
        {% for c in product.collections %}
            {% if c.handle == "clearance" %}
                {% assign pclearance = true %}
            {% endif %}
        {% endfor %}
        {% if product.metafields.plytix.clearance_overstock == 'true' %}
            <div class="sm-row">
                <div class="icon-wrap" style="font-size: 23px;">
                    <i class="fa-solid fa-tag"></i>
                </div>
                <span class="sm-row-text"><span>Clearance / Overstock</span>
              <span class="sm-text">Buy now before they are gone!</span></span>
            </div>
        {% elsif pclearance == true %}
            <div class="sm-row">
                <div class="icon-wrap" style="font-size: 23px;">
                    <i class="fa-solid fa-tag"></i>
                </div>
                <span class="sm-row-text"><span>Clearance / Overstock</span>
              <span class="sm-text">Buy now before they are gone!</span></span>
            </div>
        {% endif %}
    </div>
</div>