
{%
        render 'product-icons'
%}
{% comment %}CF: Removing this for the time being
{% if product.metafields.plytix.short_description  != blank %}
  <div class="quick-overview">
    <span class="sect-h">Quick Overview</span>
    {{ product.metafields.plytix.short_description }}
  </div>
{% endif %}
{% endcomment %}




