{% style %}
.alert-bar{
    transition: all 0.4s ease-in-out;
    background-color: {{ settings.color_warning_text }};
    background-color: #B94B3E;
	height: 0px;
	overflow: hidden;
	max-height: 0px;
}
.alert-bar.show{
	height: auto;
	max-height: none;
}
.alert-bar .container{
    width: 1400px;
    max-width: 90%;
    margin: auto;
}
.alert-bar .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.alert-bar .container .row{
    color: #fff;
    display: block;
    text-align: center;
    padding: 8px 0;
}
.alert-bar .container .row p, .alert-bar .container .row a{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
{% endstyle %}
<div class="alert-bar show" id="alert-bar">
    <div class="container">
        <div class="row">{{ section.settings.alertbartext }}</div>
    </div>
    <div class="close">✕</div>
</div>

{% schema %}
{
    "name": "alert-bar",
    "class": "alert-bar--section",
    "settings":[
        {
            "type": "richtext",
            "label": "Alert Bar Text",
            "id" : "alertbartext"
        }
    ],
    "presets": [
        {
            "category": "alert-bar-section",
            "name": "Alert Bar",
            "settings": {
            }
        }
    ]
}
{% endschema %}