<style>
	.centered-text-heading .container{
		width: 877px;
		max-width: 90%;
		margin: auto;
		padding: 40px 0;
		text-align: center;
	}
	.centered-text-heading .text-wrapper, .centered-text-heading h1{
		font-size: 63px;
		color: #4A4A4A;
		line-height: 65px;
		margin: 0 0 10px 0;
	}
	.centered-text-heading .text-wrapper, .centered-text-heading .text-wrapper p{
		font-size: 20px;
		line-height: 25px;
		color: #4A4A4A;
		margin: 0;
	}
	@media (max-width: 991.98px){
		.centered-text-heading .text-wrapper, .centered-text-heading h1{
			font-size: 42px;
			line-height: 1;
		}
		.centered-text-heading .text-wrapper, .centered-text-heading .text-wrapper p{
			font-size: 18px;
			line-height: 23px;
		}
	}
</style>
<header class="centered-text-heading">
    <div class="container">
        <div class="row">
            {% if section.settings.pageheading != blank %}
            <h1>{{ section.settings.pageheading }}</h1>
            {% endif %}
            {% if section.settings.headinginfo != blank %}
                <div class="text-wrapper">{{ section.settings.headinginfo }}</div>
            {% endif %}
        </div>
    </div>
</header>
{% schema %}
{
    "name": "centered-text-heading",
    "class": "centered-text-heading--section",
    "settings":[
        {
            "type": "text",
            "label": "Page Heading",
            "id" : "pageheading"
        },
        {
            "type": "richtext",
            "label": "Page Heading Info",
            "id" : "headinginfo"
        }
    ],
    "presets": [
        {
            "category": "centered-text-heading",
            "name": "Centered Text Heading",
            "settings": {
            }
        }
    ]
}
{% endschema %}