{% style %}
	.gradient-text-header{
		position: relative;
		background: {{ settings.color_section_background }};
		padding: 80px 0 20px 0;
	}
	.gradient-text-header:after{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		content: "";
		background: linear-gradient(180deg, rgba(0,80,161,0) 0%, rgba(255,255,255,1) 98%);
		z-index: 0;
	}
	.gradient-text-header  .container{
		width: 1340px;
		max-width: 90%;
		margin: auto;
		position: relative;
		z-index: 2;
	}
	.gradient-text-header  .container h1{
		font-size: 55px;
		font-weight: 700;
		margin: 0;
	}
	@media (max-width: 640px){
		.gradient-text-header  .container h1{
			font-size: 38px;
		}
	}
{% endstyle %}
<div class="absolute-breadcrumb-wrapper">
	{% render 'breadcrumbs' %}
</div>
<section class="gradient-text-header">
	<div class="container">
		<div class="row">
			{% if section.settings.chsectionheading != blank %}
				<h1>{{ section.settings.chsectionheading }}</h1>
			{% else %}
				<h1>{{ page.title }}</h1>
			{% endif %}
			{% if section.settings.chsectiontext != blank %}
			<div class="section-text">
				<p>{{ section.settings.chsectiontext }}</p>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{% schema %}
{
	"name": "gradient-text-header",
	"class": "gradient-text-header",
	"settings":[
		{
			"type": "text",
			"label": "Section Heading",
			"id" : "chsectionheading"
		},
		{
			"type": "text",
			"label": "Section Text",
			"id" : "chsectiontext"
		}
	],
	"presets": [
		{
			"category": "gradient-text-header-section",
			"name": "Gradient Text Header",
			"settings": {
			}
		}
	]
}
{% endschema %}