.b2b-company-landing{
    display:flex;
    flex-direction: row;
}

.b2b-company-landing .b2b-left-col{
    flex-basis:22%
}
.b2b-company-landing .b2b-right-col{
    flex-basis:78%
}

.b2b-company-landing .b2b-summary{
    width:100%;
    display:flex;
    flex-direction: row;
    padding-bottom:30px;
}

.b2b-company-landing .b2b-summary .b2b-current{
    flex-basis:65%
}


.b2b-company-landing .b2b-summary .b2b-available-loc{
    flex-basis:35%;
    font-size:14px;
}

.b2b-company-landing .returned-product{
    border-top:1px solid #ccc;
    padding:3px 4px;
    width:100%;
    display:flex;
    flex-direction: row;
}



.b2b-company-landing .returned-product .b2b-col{
    display:flex;
    flex-direction: column;
    padding:3px 10px;
    text-align:left;
    justify-content: center;
    align-items: center;
}
.b2b-company-landing .returned-product .b2b-col.b2b-product-check{
    flex: 0 0 20px;
}
.b2b-company-landing .returned-product .b2b-col.b2b-product-image{
    flex: 0 0 50px;
}
.b2b-company-landing .returned-product .b2b-col.b2b-product-title{
    flex: 3 1 0; /* 75% of remaining */
    align-items: flex-start;
}

.b2b-company-landing .returned-product .b2blist-detail-sku{
    font-size:14px;
}

.b2b-company-landing .returned-product .b2b-col.b2b-product-qty{
    flex: 0 0 24px;
}
.b2b-company-landing .returned-product .b2b-col.b2b-product-qty input{
    height:35px;
    width:40px;
    line-height:40px;
    padding:0 2px 0 0;
    text-align:center;
}
.b2b-company-landing .returned-product .b2b-col.b2b-product-price{
    flex: 0 0 150px;
    text-align:center;
}
.b2b-company-landing .returned-product .b2b-col.b2b-atc-btn{
    flex-base:150px;
}

.b2b-company-landing .b2b-atc-btn{
    position: relative;
}

.b2b-company-landing .b2b-atc-btn .atc-button--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -13px;
    margin-left: -13px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: rotate 0.6s linear infinite;
}
.b2b-company-landing .b2b-atc-btn .atc-button--icon svg {
    display: block;
    width: 26px;
    height: 26px;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.8);
}
.b2b-company-landing .returned-product .b2b-col.b2b-atc-btn .main-atc-button.disabled:not(.loaded,.loading){
    opacity: .3;
    pointer-events: none;
    transition: none;
}
.b2b-company-landing .returned-product .b2b-col.b2b-atc-btn .main-atc-button.loading{
    opacity: 1;
    pointer-events: none;
}
.b2b-company-landing .returned-product .b2b-col.b2b-atc-btn .main-atc-button.loaded{
    pointer-events: none;
}


.b2b-company-landing .b2b-atc-btn .thinbtn{
    width:150px;
    position:relative;
}

.b2b-company-landing .b2blist-var-variables{
    display:none;
}
.b2b-company-landing .b2blist-var-variables.current-b2blist-var{
    display:inline-block;
}
.b2b-company-landing .returned-product .b2b-col.b2b-product-price .price__current,
.b2b-company-landing .returned-product .b2b-col.b2b-product-price .price__current span{
    font-size:26px;
    line-height:40px;
}
.b2b-company-landing .returned-product .b2b-col.b2b-product-price .price__savings{
    color:#d74018;
    font-size:14px;
    margin-top:-6px;
}