{% layout none %}
{%- assign crawlcheck = false -%}
{%- for c in product.collections -%}
    {%- if c.handle == "discontinued" -%}
        {%- assign crawlcheck = true -%}
    {% endif %}
{%- endfor -%}
{%- if crawlcheck == true -%}
    <div class="crawlcheck crawlcheck-related"><!-- check product that is supposed to be here for discontinued or broken handle ({{ product_handle }})--></div>
{%- else -%}
    {%-
            render 'product-slider-item',
            main_loc: 'Product Page',
            item_loc: "Related Products",
            product: product
    -%}
{%- endif -%}